[submodule "sap-tracker"]
	path = sap-tracker
	url = https://github.com/iwilare/sap-tracker
[submodule "solitaire"]
	path = solitaire
	url = https://github.com/iwilare/solitaire
[submodule "planets"]
	path = planets
	url = https://github.com/iwilare/planets
[submodule "numpad"]
	path = numpad
	url = https://github.com/iwilare/numpad
