body {
    margin-left: 30%;
    margin-right: 30%;
    font-family: "Yu Gothic", sans-serif;
}
a {
    color: rgb(20, 20, 20);
    text-decoration: dotted underline;
    text-underline-offset: 0.2em;
}
a:visited {
    color: grey;
}
a:hover {
    color: silver;
}
